<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title jade编写的页面
    link(rel="stylesheet", type="text/css", href="dist/css/style.min.css")
body
    h1 这是h1标题
    p 这是p标签
    span 这是一个span
    
    //- 公共js
    script(type="application/javascript", src="dist/js/common.min.js")
    
    //- 最后打包并压缩的js
    script(type="application/javascript", src="dist/js/main.min.js")
